.logo {
    display: inline-block;
    height: 100%;
}

.logo>img {
    vertical-align: middle;
    padding-bottom: 10%;
}

body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
}

main {
  flex: 1 0 auto;
}

.synopsis {
  text-align: justify;
}

nav > div > a.brand-logo > span, body > footer > div.container > div > div.col.l6.s12 > h5 {
  font-family: Gloria Hallelujah, sans-serif;
}
